.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MainArea.js */

.main-landing {
  width: 70%;;
  height: 100vh;
  background-image: url('../img/annie-spratt-4-4WPFLVhAY-unsplash.jpg');
  /* image is from https://unsplash.com/photos/woman-in-black-long-sleeve-shirt-sitting-in-front-of-silver-macbook-4-4WPFLVhAY */
  background-size: cover;
  background-position: center;
  box-shadow: inset -12px 8px 15px -10px rgba(0,0,0,0.75);
  color: white
}

.main-landing header {
  flex: auto;
  padding-top: 30%;
}

.main-landing h1 {
  font-size: 4.75rem;
}

.main-landing p {
  font-size: 1.25rem;
}

.main-landing a:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Sidebar.js */

.main-sidebar {
  width: 30%;
  height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.usertype-container button {
  margin: 60px;
  cursor: pointer;
  border: none;
  background-color: #4285f4;
  color: #fff;
  border-radius: 8px;
}

#teacher-button {
  background-color: #3367d6;
  font-weight: bold;
  text-decoration: underline;
}

.usertype-container button:hover {
  background-color: #3367d6;
}

.usertype-buttons {
  display: flex;
  justify-content: space-between;

}

.usertype-container {
  display: flex;
  /* margin-top: 20px; */
}

.login-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.student-wrapper {
  width: 70%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.login-wrapper form, .login-wrapper form > div, #login-toggle {
  display: flex;
  width: 100%;
}

#login-toggle button {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  justify-content: center;
}


.login-wrapper form {
  flex-direction: column;
  align-items: flex-start;
}

.login-wrapper form > div {
  padding: 0.55rem 0;
}

.login-wrapper form > div label {
  display: inline-flex;
  padding-right: 0.3rem;
  width: 12rem;
}

.login-wrapper form > div input {
  width: 100%;
  padding: 0.3rem 0.2rem;
  border-radius: 0.3rem;
}

.login-register-submit, #login-toggle {
  justify-content: end;
}

.login-register-submit button {
  width: calc(100% - 8.9rem);
  padding: 1rem 0;
  border: none;
  border-radius: 0.3rem;
}

.login-register-submit, #login-toggle {
  justify-content: end;
}